@require "variables"
@require "PageList"

#editList
    @extend #pageList
    flex-direction: column
    justify-content: flex-start
    margin-top: 10vh
    align-items: flex-start
    flex-wrap: nowrap
    width: 80vw
    max-width: 900px
    .tile
        display: flex
        justify-content: space-between
        width: 100%
        margin: 5px
        padding: 10px
        border: 2px solid lighten(col_bg, 20%)
        border-radius: borderradius
        li
            opacity: 1
            transition: opacity 0.2s ease
            &:hover
                opacity: 0.4
