@require "reset"
@require "variables"

/* general */
html, body
    height: 100%

body 
    background: col_bg
    color: #aaa
    font-family: sans-serif

h1
    font-size: 2em

a
    color: inherit
    text-decoration: none

.flex
    display: flex

.colFlex
    display: flex
    flex-direction: column

/* main area */
main
    display: flex
    justify-content: center
    width: 100%
    height: 100%
        
#settingsBtn
    position: fixed
    top: 0
    left: @top
    font-size: 40pt
    color: lighten(col_bg, 2%)
    transition: color 0.7s ease-in
    &:hover
        color: white
        &:after
            content: "settings"

#backBtn
    @extend #settingsBtn
    color: lighten(col_bg, 60%)
    &:hover
        &:after
            content: ""
    

/* content area */
@require "PageList"

@require "EditList"
@require "EditForm"
