@require "variables"

#pageList
    display: flex
    justify-content: center
    align-content: center
    align-items: center
    flex-wrap: wrap
    width: 80vw
    .tile li
        z-index: 1
        background: lighten(col_bg, 15%)
        border-radius: borderradius
        margin: 4px
        width: 20vh
        height: @width
        opacity: 0.4
        transition: opacity 0.2s ease
        &:hover
            opacity: 1
